/* ここから下に記載していく */
body {
    line-height: 30px;
}

h1,
h2,
h3,
#about,
#news,
#access,
#contact,
footer {
    text-align: center;
}

img {
    width: 100%;
}

.main-visual div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.subtitle {
    width: 100%;
    font-size: 32px;
}

#about h2,
#news h2 {
    color: #ffd61a;
}

p {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.header nav {
    margin: 50px 0;
}

.header nav a {
    margin-right: 50px;
    color: black;
    text-decoration: none;
}

section {
    margin-top: 60px;
}

h2,
h4 {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 60px;
    font-size: 18px;
}

h4,
p {
    margin-bottom: 40px;
}

.course {
    display: flex;
}

.course-l {
    justify-content: left;
}

.course-r {
    justify-content: right;
}

.course-img {
    width: 50%;
}

.course-text {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    width: calc(50% - 100px);
    background-color: #fafafa;
}

.news-3 {
    display: flex;
    justify-content: center;
}


.news {
    margin: 15px;
    width: 300px;
}

.news:hover {
    border: 1px solid;
    border-color: red;
}


.news-date {
    margin: 30px 0;
}

button {
    margin-top: 30px;
    justify-content: center;
    height: 60px;
    width: 300px;
    font-size: 18px;
    background-color: #ffd61a;
    color: white;
    border: none;
}

button:hover {
    opacity: 50%;
}

#access {
    background-color: #fafafa;
}

table {
    margin-top: 60px;
    margin: 0 auto;
}

th {
    padding-left: 16px;
    padding-right: 64px;
    text-align: left;
    align-items: self-start;
    height: 50px;
    vertical-align: top;
}

td {
    padding-left: 8px;
    text-align: left;
    height: 36px;
}

iframe {
    margin-bottom: 60px;
    width: 100%;
}

form table th,
form table td {
    border: solid;
    border-color: #bfbfbf;
}

form table th {
    border-left: none;
}

form table td {
    border-right: none;
}

.input-text {
    margin: 8px;
    height: 36px;
    width: 328px;
}

form p {
    margin: 24px 0;
}

textarea {
    margin: 8px;
    width: 328px;
    height: 108px;
}

main {
    margin-bottom: 140px;
}

footer {
    background-color: #707070;
    color: white;
    padding: 30px;
}